$white: hsl(0, 0%, 100%);
$lightGray: hsl(210, 60%, 98%);
$lightGray1: hsl(211, 68%, 94%);
$lightGray2: hsl(205, 33%, 90%);
$grayBlue: hsl(219, 14%, 63%);
$grayDark: hsl(219, 12%, 42%);
$veryGrayDark: hsl(224, 21%, 14%);
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
